* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Product Sans Regular', sans-serif;

}

header {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0 50px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.568),rgba(102, 102, 102, 0.568)), url(static/img/hero.jpg);
    margin-bottom: 50px;
}

.main-head {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-radius: 50px;
    flex-direction: column;
}

.main-head input {
    margin-top: 22px;
    width: 100%;
    margin-bottom: 25px; 
    height: 40px;
    outline: none !important;
    border-radius: 100px;
    border: 1px solid grey;
    font-family: Lato;
    padding: 0 15px;
}

.main-head form {
    width: 90%;
}

.main-head input:hover {
    
    
    box-shadow: 0px 0px 5px grey;
}


.main-head h1 {
    font-weight: 900;
    font-size: 60px;
    color: #fff

}

.main-head__buttons {
    display: flex;
    justify-content: space-evenly;
    width: 250px;
}

.button-main {
    width: auto;
    height: 36px;
    padding: 0 13px;
    border-radius: 3px;
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    transition: all 0.3s;
    cursor: pointer;
    
}

.button-main:hover,
.button-main:active {
    background-color: #4480ff;
    color: white;
    

    
}

.main-nav {
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0;
    background: rgb(219, 219, 219);
    box-shadow: 3px 3px 5px grey;
    
    
    
    
    
}

.main-nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    justify-content: center;
    height: 100%;
  
    
    
    
}

.main-nav li {
    
    display: flex;
    padding: 5px;
    width: 200px;
    border-right: 1px solid;
    border-color: grey;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 0.3s;
    cursor: pointer;
    
    
}

.main-nav li:first-child {
    border-left: 1px solid;
    border-color: grey;
    
    
}

.main-nav li:hover,
.main-nav li:active {
    background-color: #4480ff;
    color: white;
}

.products-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-section ul {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.products-section li {
    width: 280px;
    height: 280px;
    background: rgb(219, 219, 219);
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 3px 3px 5px grey;
    
    
}

.products-section li h3 {
    font-weight: 300;
    font-size: 22px;    
}




.product-img {
    width: 93%;
    border-radius: 5px;
    box-shadow: 1px 1px 3px grey;
    height: 60%;    
}

.products-section .bottom-li {
    display: flex;
    align-self: stretch;
    justify-content: space-evenly;
    align-items: center;    
}

.price {
    font-size: 20px;
    
}
